/* Font Colors */

$base-font-size:15px;
$base-font-family:'Oxygen', sans-serif;
$base-font-color:#666666;


/* Background Colors */

$primary-color:#d9a861;
$secondary-color:#6c6353;
$secondary-color-mod:rgba(108, 99, 83, 0.7);
$light-color:#B5B5B5;
$dark-color:#3e4249;
// #6c6353;
//#d9a861;

/* Showcase Area */

$showcase-height:500px;
$showcase-image:'../img/showcase2.jpg';
$hero-height:400px;
$hero-image:'../img/hero.png';
